html { 
    font-size: 10px; 
}
a {
    text-decoration: none !important; 
}

body {
    background-color: $pale;
    margin: 0;
    position: relative;
}
* {
    font-family: $quicksand;
    box-sizing: border-box;
}
h1, .h1 {
    @include typography(4.2rem , 5.2rem, $quicksand);
    font-weight: 300;

    @include respond(xl) {
        @include typography(3.4rem, 4.42rem);
    }

    @include respond(md) {
        @include typography(2.4rem, 2.4rem);
    }
}
h2, .h2 {
    @include typography(5rem , 5rem, $quicksand);
    font-weight: 300;

    @include respond(xl) {
        @include typography(3rem, 3rem, $quicksand);
    }

    // @include respond(md) {
    //     @include typography(2.4rem, 2.4rem);
    // }
}
h3, .h3 {
    @include typography(3.6rem , 3.6rem, $quicksand);
    font-weight: 500;

    @include respond(xl) {
        @include typography(2.8rem, 2.8rem , $quicksand);
    }

    // @include respond(md) {
    //     @include typography(2.4rem, 2.4rem);
    // }
}
h4, .h4 {
    @include typography(2.8rem , 2.8rem, $quicksand);
    font-weight: 600;
    @include respond(xxl) {
        @include typography(2rem , 2rem, $quicksand);
    }
    @include respond(md) {
        @include typography(1.5rem, 1.5rem);
    }
}
.h5 {
    @include typography(2.1rem, 2.1rem, $quicksand);
    @include respond(xxl) {
        @include typography(1.6rem, 2.2rem, $quicksand);
    }
    font-weight: 400;
}
.chalk-1 {
    @include typography(4.8rem, 4.8rem, $pangolin);
    font-weight: 100;
    letter-spacing: 1.8px;
    
}
.chalk-2 {
    @include typography(3.4rem, 3.4rem, $pangolin);
    font-weight: 100;
    letter-spacing: 1.8px;
}
.chalk-3 {
    @include typography(2.8rem, 2.8rem, $pangolin);
    font-weight: 100;
    letter-spacing: 1.8px;
}
.chalk-4 {
    @include typography(2.2rem, 3rem, $pangolin);
    font-weight: 100;
    letter-spacing: 1.8px;
}
.chalk-5 {
    @include typography(2rem, 2rem, $pangolin);
    font-weight: 100;
    letter-spacing: 1.8px;
}
.chalk-6 {
    @include typography(1.3rem, 1.3rem, $pangolin);
    font-weight: bold;
    letter-spacing: 1.8px;
}
p {
    @include typography(1.6rem, 2.4rem, $quicksand);
}

ul {
    padding-left: 2rem;
}
li {
    margin-bottom: 1rem;
    text-align: left;
}

.button {
    padding: .8rem 1.6rem;
    margin: auto;
    width: fit-content;
    font-size: 2rem;
}
.button--orange {
    background-color: $primary-red;
    color: $paper;
}

.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
.ml6 .letter {
    display: inline-block;
    line-height: 1em;
}