footer {
    display: inline-flex;
    position: relative;
    bottom: -22rem;
    background-color: #0F58AE;
    width: 100%;
    font-family: "Quicksand", sans-serif;
    
    a, a:hover {
        font-size: 21px;
        font-weight: 400;
        color : $pale;
    }
    .developer, 
    .developer:hover {
        font-size: 16px;
        color : $pale;
    }
    .footer-container {
        height: 126px;
        width: 100%;
        padding: 0 1rem;
        align-items: end;
        @include respond(xxl) {
            height: 86px;
        }
    }
}