footer {
    position: absolute;
    bottom: -22rem;
    background-color: $primary-blue;
    width: 100%;
    font-family: $quicksand;
    
    a, a:hover {
        font-size: 21px;
        font-weight: 400;
        color : $pale;
    }
    .developer, 
    .developer:hover {
        font-size: 16px;
        color : $pale;
    }
    .footer-container {
        height: 126px;
        align-items: end;
        @include respond(xxl) {
            height: 86px;
        }
    }
}