.game-area {
    &__target-word {
        width: fit-content;
        border-bottom: 1px solid $pale;
        margin: 1rem;
        font-weight: 400;
    }
    &__blackboard {
        width: 90%;
        margin: auto;
        background-color: $black;
        display: flex;
        color: $pale;
        padding: 2rem 4rem;
        min-height: 15rem;

        @include respond(lg) {
            flex-direction: column;
            width: 100%;
            padding: 1rem;
        }
    }

    &__word-input {
        width: calc(100% - 12rem);
        height: 4rem;
    }
    .input-assembly {
        margin-top: 2rem;
        align-items: center;
    }
    #country-holder {
        width: 4rem;
        height: 4rem;
        border-radius: 0.8rem;
        margin-right: 1rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .it-flag {
        background-image: url('../../public/images/italy-flag.png');
    }
    .uk-flag {
        background-image: url('../../public/images/uk-flag.png');
    }
    &__word-input-area {
        width: 50%;
        position: relative;
        @include respond(lg) {
            width: 100%;
        }
        .h1 {
            margin: 0;
        }
    }
    div#check-word-button {
        width: 3rem;
        height: 3rem;
        background-color: $primary-blue;
        bottom: 0;
        font-size: 2.7rem;
        cursor: pointer;
        margin-left: 1rem;
        margin-top: 1.5rem;
    }
    &__blackboard-shelf {
        width: 100%;
        height: 1rem;
        background-color: $primary-red;
    }
    &__helper-area {
        width: 50%;
        padding: 0;
        font-family: $pangolin;

        @include respond(lg) {
            width: 100%;
        }

        h4 {
            text-decoration: underline;
            margin: 1.6rem 0 2rem;
        }
    }
    &__exit-container {
        position: relative;
        height: 3rem;
    }
    &__exit-button {
        cursor: pointer;
        position: absolute;
        right: 3rem;
        font-size: 2rem;
        background-color: $exit-green;
        padding: .2rem .8rem;
        color: white;
        top: 2rem;
    }
    &__squared-paper {
        background-image: linear-gradient(to right, #8dd5ff 1px, transparent 1px),
        linear-gradient(to bottom, #8dd5ff 1px, transparent 1px);
        height: fit-content;
        width: 100%;
        background-size: 3rem 3rem;
        padding: 3rem 0;
    }
    &__progress-bars-container {
        max-width: 88rem;
        margin: auto;
        border: 3px solid grey;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-content: baseline;
        height: 10rem;
        flex-wrap: wrap;
    }
    .progress-bar {
        width: 3rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        margin: 0 1rem;
    }
    .progress-bar__foreign {
        width: 100%;
        height: 3rem;
        background-color: #7e7e7e;
    }
    .progress-bar__native {
        width: 100%;
        height: 3rem;
        background-color: #bdb9b9;
    }
    .--correct {
        background-color: #56eb56;
    }
    .--wrong {
        background-color: #f14f39;
    }
    .progress-bar__baseline {
        width: 100%;
        height: 1.7rem;
        background-color: gray;
        text-align: center;
        color: white;
        padding-top: 3px;
    }
    &__completion-form {
        position: absolute;
        width: 47%;
        height: 19rem;
        background-color: $black;
        top: 0;
        left: 2rem;
        display: none;

        button {
            font-size: 2rem;
            padding: .8rem 1.6rem;
            cursor: pointer;
        }
    }

    &__completion-form-inner {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__assembly {
        position: relative;
    }
}
