.header {
    height: 90px;
    background-color: $primary-blue;

    &__site-title, 
    &__site-title:hover {
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
        color: $primary-red;
        font-size : 28px;
    }

    &__menu,
    &__menu:hover
     {
        color : $pale;
        font-size: 21px;
        font-weight: 400;
    }
}