.lexicon {
    h1 {
        border-bottom: 1px solid;
        width: fit-content;
        margin: 3rem auto 2.5rem;
    }
    .h4 {
        text-align: center;
        margin: 0.5rem 0;
    }
    .hero-home__icon {
        top: 0rem;
    }
    .hero-home__underline {
        margin-top: 3rem;
    }
    &__level-display {
        margin-top: 10rem;
    }
    &__level-button {
        box-sizing: initial;
        font-size: 2rem;
        padding: .8rem 1.6rem;
        border: 1px solid;
        margin: 1rem 2rem;
        width: 15%;
        text-align: center;
        position: relative;
        font-weight: 500;
        background-color: lightgray;
        @include respond(xl) {
            font-size: 1.6rem;
        }
        @include respond(lg) {
            margin: 1rem 1rem;
            width: 40%;
        }
    }
    &__level-button-container {
        justify-content: end;
        @include respond(lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__level-progress-bar {
        width: 80%;
        background-color: gray;
        height: 1rem;
        margin: 3rem 8% 1rem 9%;
        position: relative;
        @include respond(lg) {
            display: none;
        }
    }
    &__level-progress-bar-inner {
        width: 8px;
        background-color: rgb(76, 218, 130);
        height: 1rem;
        margin: 3rem 8% 1rem 9%;
        position: absolute;
        z-index: 1;
        @include respond(lg) {
            display: none;
        }

    }
    &__milestone-container {
        width: 80%;
        height: 1rem;
        margin: 3rem 8% 1rem 9%;
        position: relative;
        top: -5.7rem;
    }
    &__start-milestone {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgb(76, 218, 130);
        padding: 0;
        border-radius: 50%;
        left: -0.7rem;
        top: -0.7rem;
        @include respond(lg) {
            display: none;
        }
        label {
            position: absolute;
            width: fit-content;
            top: 4rem;
            text-align: center;
            width: 10rem;
            left: -3.3rem;
            font-size: 1.4rem;
            color: gray;
            @include respond(lg) {
                display: none;
            }
        }
    }
    &__milestone-a {
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        left: calc(50% - 1.25rem);
        border-radius: 50%;
        background-color: gray;
        top: 7.4rem;
        @include respond(xl) {
            top: 6.9rem;
        }
        @include respond(lg) {
            display: none;
        }       

        label {
            position: absolute;
            width: fit-content;
            top: 4rem;
            text-align: center;
            width: 10rem;
            left: -3.3rem;
            font-size: 1.4rem;
            color: gray;
            @include respond(lg) {
                display: none;
            }
        }
    }
   
    &--relative {
        position: relative;
    }
    &--relative:after {
        content: "";
        display: block;
        width: calc(100% + 1rem);
        height: 1rem;
        background-color: $primary-red;
        bottom: -10px;
        position: absolute;
        z-index: 2;
        left: -0.5rem;
        @include respond(md) {
            width: 100%;
            left: 0;
        }
    }
    &__word-list-container {
        position: relative;
        width: 100%;
        background-color: grey;
        padding: 1rem;
        overflow-y: scroll;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        height: 37rem;
        align-content: baseline;
        border: 2px solid $primary-red;
        box-sizing: border-box;
    }

    &__word-list-tile {
        background-color: lightgray;
        text-align: center;
        display: flex;
        width: calc(25% - 1rem);
        height: 11rem;
        flex-direction: column;
        margin: 0.5rem;
        font-weight: bold;
        color: $black;

        @include respond(lg) {
            width: calc(33.3% - 1rem);
        }
        @include respond(md) {
            width: calc(50% - 1rem);
        }
    }
    &__category-container {
        flex-wrap: wrap;
        align-content: baseline;
        margin-top: 2rem;

        label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
    
    &__category-pill {
        width: fit-content;
        border: 2px solid orange;
        padding: 1rem 1rem;
        height: 1.6rem;
        margin: 0.5rem;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
.selected {
    background-color: $light-blue;
    color: $pale;
}
#intermediate,
#pre-intermediate, 
#advanced {
    opacity: 1;
}