.user-created-content {
    h3 {
        margin: 5rem auto;
        width: fit-content;
        border-bottom: 1px solid $black;
    }

    &__word-list-container {
        position: relative;
        width: 100%;
        background-color: $black;
        padding: 1rem;
        z-index: 2;
        height: 37rem;
        align-content: baseline;
        border: 2px solid $primary-red;
        box-sizing: border-box;
    }

    &__word-list-tile {
        background-color: lightgray;
        color: white;
        text-align: center;
        display: flex;
        width: calc(25% - 1rem);
        height: 15rem;
        flex-direction: column;
        margin: 0.5rem;
        padding: 2rem 1rem;
    }
    &.--lang-pair {
        color: $black;
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100%;
        
        p {
            display: inline;
        }
    }
    .chalk-4 {
        margin-bottom: .3rem;
        margin-top: 0;
        font-size: 1.8rem;
    }
    em {
        margin-bottom: 1rem;
    }
    &__word-list-tile.--user {
        background-color: $primary-red;
        border: 2px solid white;
    }
    &__word-list-tile.--public {
        background-color: $primary-blue;
        border: 2px solid grey;
    }

    form.delete-form {
        position: absolute;
        top: 2px;
        right: 2px;
    }

    div#unlock {
        margin-top: 2rem;
        background-image: url(/public/images/lock.jpg);
        width: 3rem;
        height: 3rem;
        border-radius: 1rem;
        border: 3px solid $black;
        background-size: contain;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .--unlock {
        filter: invert(100%);
        border: 3px dotted white !important;
    }

    .swiper-button-next,
    .swiper-button-prev {
        color: white;
    }
}