// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary-blue : #0F58AE;
$light-blue : #11BAFE;
$primary-red : #E9574E;
$pale : #FFFCF5;
$black : #1F2539;
$half-dark : #1F2539;
$off-white : #FFF8E7;
$paper : #F4F9FF;
$paper-line-blue: #64A8C5;
$green : #73E996;
$exit-green : #0AA664;
$grey : #7D7979;