// Body
$body-bg: #f8fafc;

// Typography
$quicksand: 'Quicksand', sans-serif;
$pangolin: 'Pangolin', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//* Colors
$primary-blue : #0F58AE;
$light-blue : #11BAFE;
$primary-red : #E9574E;
$pale : #FFFCF5;
$black : #1F2539;
$half-dark : #1F2539;
$off-white : #FFF8E7;
$paper : #F4F9FF;
$paper-line-blue: #64A8C5;
$green : #73E996;
$exit-green : #0AA664;
$grey : #7D7979;

//* Spaces
$space: 1rem;
$spaces: (0: 0,
    1: ($space * 1),
    2: ($space * 2),
    3: ($space * 3),
    4: ($space * 4),
    5: ($space * 5),
    6: ($space * 6),
    7: ($space * 7),
    8: ($space * 8),
    9: ($space * 9),
    10: ($space * 10),
    15: ($space * 1.5),
    25: ($space * 2.5),
    35: ($space * 3.5),
    45: ($space * 4.5));

$grid-breakpoints: (
    xs: 0,
    sm: 575px,
    md: 767px,
    lg: 991px,
    xl: 1199px,
    xxl: 1399px,
);

//* Font Weights
//$light: 300;
$regular : 400;
$medium : 500;
$semibold : 600;
$bold : 700;
